- if @tasks.empty?
  %span.text-warning There are no tasks
- else
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Title
        %th Created at
        %th Completed
        %th Actions
    %tbody
      - tasks.each do |task|
        %tr
          %td
            %strong=task.title
          %td.text-info=task.created_at
          %td.text-success=task.complete
          %td
            = link_to task_path(task), remote: true, method: :delete do
              %i.icon-remove